<h1>Employee Activity List</h1>

<p *ngIf="!employeeActivitylist"><em>Loading...</em></p>

<table class='table table-bordered' *ngIf="employeeActivitylist">
  <thead style="background-color:lightgray;font-weight:bold;color:black;">
    <tr>
      <th nowrap>Activity Id</th>
      <th nowrap>First Name</th>
      <th nowrap>Last Name</th>
      <th nowrap>Emailaddress</th>
      <th nowrap>Activity Name</th>
      <th nowrap>Comments</th>      
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeActivitylist">
      <td nowrap>{{ emp.activityId }}</td>
      <td nowrap>{{ emp.firstName }}</td>
      <td nowrap>{{ emp.lastName }}</td>
      <td nowrap>{{ emp.emailAddress }}</td>
      <td nowrap>{{ emp.activityName }}</td>
      <td>{{ emp.comments }}</td>
    </tr>
  </tbody>
</table>
